<div class="padding">
    <div class="topTitle">
        <h1>Task Management</h1>
        <button class="addTask" (click)="openModal('Create Task', null, Users[0].id )
        
        ">ADD TASK + </button>
        <app-modal [title]="modalTitle" [isOpen]="isCreateTaskModalOpen" (closeModal)="closeModal('Create Task')">
            <form (ngSubmit)="createTask()">
                <label for="aname">Task name:</label>
                <input type="text" id="aname" name="aname" [(ngModel)]="taskToCreate.assignmentName" /><br>

                <label for="adesc">Task Description:</label>
                <input type="text" id="adesc" name="adesc" [(ngModel)]="taskToCreate.assignmentDescription"
                    required><br>

                <label for="date">Date:</label>
                <input type="datetime-local" id="date" name="date" [(ngModel)]="taskToCreate.assignmentDate"
                    required><br>

                <input type="submit" value="Submit">
            </form>
        </app-modal>
    </div>
    <div class="cardContainer">
        <div class="card">
            <div class="cardContent">
                <div class="userPhoto">
                    <img src="assets\img\usuario.png" class="pfp">
                </div>

                <div class="userInfo">
                    <h4>{{Users[0]?.firstName + " " + Users[0]?.lastName}}</h4>
                    <h5>{{Users[0]?.email}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery"></div>

    <div class="tasksContainer">
        <ng-container
            *ngIf="groupedTasks['Active'].length === 0 && groupedTasks['Completed'].length === 0 && groupedTasks['Canceled'].length === 0">
            <p>Este usuario no tiene tareas</p>
        </ng-container>

        <div *ngFor="let status of ['Active', 'Completed', 'Canceled']">
            <ng-container *ngIf="groupedTasks[status].length > 0">
                <h2>{{ status }} tasks:</h2>
                <ul>
                    <div *ngFor="let task of groupedTasks[status]" class="TaskCard"
                        [ngStyle]="{'border-bottom-color': getBorderColor(task.status.status)}">
                        <div class="leftSideCard">
                            <div class="taskInfo">
                                <h3>{{task.assignmentName}}</h3>
                                <h4>{{task.assignmentDescription}}</h4>
                                <h4>{{task.assignmentDate}}</h4>
                                <h4>{{task.status.status}}</h4>
                            </div>
                        </div>

                        <div class="rightSideCard">
                            <button (click)="openModal('Edit Task', task, Users[0].id)" class="dropbtn">
                                <fa-icon [icon]="faPencil" class="icon"></fa-icon>
                            </button>

                            <app-modal [title]="modalTitle" [isOpen]="isEditTaskModalOpen"
                                (closeModal)="closeModal('Edit Task', task.id)">

                                <form (ngSubmit)="updateTask()">
                                    <label for="aname">Task name:</label>
                                    <input type="text" id="aname" name="aname"
                                        [(ngModel)]="taskToUpdate.assignmentName"><br>

                                    <label for="adesc">Task Description:</label>
                                    <input type="text" id="adesc" name="adesc"
                                        [(ngModel)]="taskToUpdate.assignmentDescription"><br><br>

                                    <label for="date">Date:</label>
                                    <input type="datetime-local" id="date" name="date"
                                        [(ngModel)]="taskToUpdate.assignmentDate"><br>

                                    <label for="status">Status:</label>
                                    <select id="status" name="status" [(ngModel)]="taskToUpdate.StatusId">
                                        <option *ngFor="let option of statusOptions" [value]="option.id">{{ option.name
                                            }}
                                        </option>
                                    </select>
                                    <input type="submit" value="Submit">
                                </form>
                            </app-modal>
                        </div>
                    </div>
                </ul>
            </ng-container>
        </div>