body.dark {
    /*LAYOUT*/
    /* --top-bar-background: #303030; */
    --top-bar-background: #242424;

    /* --body-background: #242424; */
    --body-background: #303030;

    --main-text-color: #fff;
    --main-hover-background: rgba(255, 255, 255, 0.1);
    --color-scrollbar-light: rgba(255, 255, 255, 0.1);
}